.chat-container {
  display: flex; /* Визначає контейнер чату як гнучкий контейнер */
  flex-direction: column; /* Вирівнює дочірні елементи вертикально */
  height: 100%; /* Задає висоту контейнера на 100% */
  max-height: 600px; /* Максимальна висота для контейнера чату */
}

.message-list {
  flex-grow: 1; /* Дозволяє списку повідомлень займати залишок доступного простору */
  overflow-y: auto; /* Додає вертикальну прокрутку для списку повідомлень */
  padding: 10px; /* Внутрішній відступ для списку повідомлень */
  max-height: 479px; /* Обмежує висоту списку повідомлень */
}

.sent {
  display: flex; /* Визначає елементи відправлених повідомлень як гнучкі */
  justify-content: flex-end; /* Вирівнює відправлені повідомлення вправо */
}

.received {
  display: flex; /* Визначає елементи отриманих повідомлень як гнучкі */
  justify-content: flex-start; /* Вирівнює отримані повідомлення вліво */
}

.message-bubble {
  max-width: 60%; /* Максимальна ширина бульбашки повідомлення */
  padding: 10px; /* Внутрішній відступ для бульбашки повідомлення */
  border-radius: 10px; /* Закруглення кутів бульбашки повідомлення */
  margin: 1px 10px; /* Зовнішній відступ для бульбашки повідомлення */
}

.sent .message-bubble {
  background-color: #3b9dff; /* Колір бульбашки для відправлених повідомлень */
  color: white; /* Колір тексту в бульбашці відправлених повідомлень */
}

.received .message-bubble {
  background-color: #f1f0f0; /* Колір бульбашки для отриманих повідомлень */
  color: black; /* Колір тексту в бульбашці отриманих повідомлень */
}

.input-container {
  display: flex; /* Визначає контейнер введення як гнучкий */
  align-items: center; /* Вирівнює елементи по вертикалі */
  padding: 10px; /* Внутрішній відступ для контейнера введення */
  background-color: white; /* Фон для поля введення, щоб виділити його */
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1); /* Легка тінь для підняття */
}

.input {
  flex-grow: 1; /* Дозволяє полю вводу займати залишок доступного простору */
  padding: 10px; /* Внутрішній відступ для поля вводу */
  border: 1px solid #ccc; /* Рамка для поля вводу */
  border-radius: 6px; /* Закруглення кутів для поля вводу */
  margin-right: 10px; /* Відступ справа для поля вводу */
}

.send-button {
  background-color: #3b9dff; /* Колір для кнопки відправки */
  color: white; /* Колір тексту в кнопці відправки */
  border: none; /* Без рамки для кнопки відправки */
  padding: 10px; /* Внутрішній відступ для кнопки відправки */
  border-radius: 10px; /* Закруглення кутів для кнопки відправки */
  cursor: pointer; /* Показує, що кнопка є клікабельною */
  transition: background-color 0.3s; /* Анімація зміни кольору фону при наведені */
}

.send-button:hover {
  background-color: #0073e6; /* Зміна кольору при наведенні на кнопку відправки */
}

.context-menu {
  position: absolute; /* Абсолютне позиціонування для контекстного меню */
  background-color: #9d9c9c; /* Фон для контекстного меню */
  border: none; /* Рамка для контекстного меню */
  border-radius: 10px; /* Закруглення кутів для контекстного меню */
  padding: 5px; /* Внутрішній відступ для контекстного меню */
  z-index: 10; /* Забезпечує відображення поверх інших елементів */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Легка тінь для контекстного меню */
  display: flex; /* Визначає контекстне меню як гнучкий контейнер */
  flex-direction: column; /* Вирівнює елементи контекстного меню вертикально */
}

.context-menu button {
  background-color: #9d9c9c; /* Фон для контекстного меню */
  border: none; /* Без рамки для кнопки в контекстному меню */
  padding: 5px 10px; /* Внутрішній відступ для кнопок контекстного меню */
  cursor: pointer; /* Показує, що кнопка є клікабельною */
  font-size: 14px; /* Розмір шрифту для кнопок контекстного меню */
}

.context-menu button:hover {
  background-color: #b4b4b4; /* Зміна фону при наведенні на кнопку контекстного меню */
}
