.room {
	width: 534px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(226, 226, 226);
}

.chat_room_title {
	font-size: 30px;
	border-radius: 15px;
	background: rgb(139, 139, 139);
	color: white;
	width: 400px;
	text-align: center;
}

@media screen and (max-width: 720px) {
	.room{
		display: none;
	}
}
