.chat_room_holder {
	width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat_room_title {
	font-size: 30px;
	border-radius: 15px;
	background: rgb(139, 139, 139);
	color: white;
    width: 400px;
    text-align: center;
}
