.tabs {
    display: flex; /* Визначає вкладки як гнучкий контейнер для горизонтального вирівнювання */
    margin-bottom: 10px; /* Відступ знизу для відокремлення вкладок від інших елементів */
}

.tab {
    padding: 10px 15px; /* Збільшене наповнення для кнопок, щоб зробити їх більш просторовими */
    background-color: #3b9dff; /* Легкий фон для вкладок */
    border: none; /* Без рамки для вкладок */
    margin-right: 10px; /* Відступ справа між вкладками */
    cursor: pointer; /* Показує, що вкладка є клікабельною */
    transition: background-color 0.3s, box-shadow 0.2s; /* Додавання анімації при наведенні для фону і тіні */
}

.tab.active {
    background-color: #3b9dff; /* Активний колір для вибраної вкладки */
    color: white; /* Колір тексту для активної вкладки */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Додати тінь для візуального виділення */
}

.tab:hover {
    background-color: #53a9ff; /* Зміна фону вкладки при наведенні курсора */
}
