.navigation_bar {
	border-radius: 5px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	background-color: #3f72b5;
	color: white;
	box-sizing: border-box;
	width: 100%;	
}

.title {
	font-size: 1.5rem;
	font-weight: bold;
}

.user {
	display: flex;
	align-items: center;
}

.name {
	margin-right: 1rem;
}

.btn {
  background: none;
  border: none;
  color: rgb(0, 67, 129);
  cursor: pointer;
}


@media screen and (max-width: 570px) {
	.navigation_bar{
		display: block;
	}

	.user{
		display: flex;
		justify-content: space-between;
	}

	.name{
		margin: 0;
	}
}

@media screen and (max-width: 400px) {
	.navigation_bar{
		display: block;
	}

	.user{
		display: block;
		justify-content: baseline;
	}

	.name{
		margin: 0;
		display: block;
	}
}