.navigation-bar {
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap; /* Дозволяє елементам переноситися при зміні ширини */
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #3f72b5;
    color: white;
    width: auto; /* Автоматична ширина, яка змінюється залежно від контенту */
    min-width: 100%; /* Ширина буде займати щонайменше 100% батьківського елемента */
    box-sizing: border-box; /* Врахування padding у ширину */
  }
  
  .nav-brand {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav-user-profile {
    display: flex;
    align-items: center;
  }
  
  .user-name, .user-email {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  
  