.navigation_bar {
	border-radius: 5px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	background-color: #3f72b5;
	color: white;
	width: auto;
	min-width: 100%;
	box-sizing: border-box;
}

.title {
	font-size: 1.5rem;
	font-weight: bold;
}

.user {
	display: flex;
	align-items: center;
}

.name {
	margin-right: 1rem;
}

.btn {
  background: none;
  border: none;
  color: rgb(0, 67, 129);
  cursor: pointer;
}
