.chat-container {
  position: relative; /* Додаємо позицію */
  width: 100%; /* Ширина контейнера */
  height: 50vh; /* Висота контейнера */
  padding: 20px;
  box-sizing: border-box;
  background-color: #f0f0f0; /* Задній фон контейнера */
}

.chat-header {
  display: flex;
  justify-content: space-between; /* Розміщуємо елементи по краях */
  align-items: center;
  margin-bottom: 10px;
}

.chat-title {
  font-size: 20px; /* Розмір шрифту заголовка */
}

.sign-out-button {
  background-color: #f44336; /* Червоний колір для кнопки виходу */
  color: white; /* Білий текст на кнопці */
  border: none; /* Без рамки */
  padding: 8px 10px; /* Внутрішні відступи */
  cursor: pointer; /* Курсор при наведенні */
  border-radius: 5px; /* Заокруглення кутів */
  margin-left: 10px;
}
