.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
}

.app {
	height: 800px; /* Встановлює висоту контейнера на 100% висоти вікна */
	max-width: 800px;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.content {
	flex-grow: 1;
	display: flex;
	position: relative;
}

@media screen and (max-width: 720px) {
	.app {
		display: flex;
		flex-direction: column;
		height: 100vh;
		padding: 0;
	}

	.content {
		flex-grow: 1;
		height: 0px;
	}
}
