*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: linear-gradient(180deg, rgb(117, 81, 194), rgb(255, 255, 255));
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

ul {
	list-style-type: none;
}

@media screen and (max-width: 720px) {
	body {
		display: block;
		align-items: start;
		justify-content: start;
	}
}
