.message {
	display: flex;
	margin: 10px 0;
}

.owner {
	justify-content: flex-end;
}

.friend {
	justify-content: flex-start;
}

.content {
	max-width: 60%;
	padding: 10px;
	border-radius: 8px;
	background-color: #f0f0f0;
	color: #333;
}

.message-content p {
	margin: 0;
}

.message.owner .content {
	background-color: #dcf8c6;
}

.time {
	font-size: 0.8em;
	color: #888;
	text-align: right;
}
